<h1>Manager#add_mess_cut</h1>
<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>


<table>
    <tr>

      <th>Roll_no</th>
      <th>Name</th>
      <th>From</th>
      <th>To</th>
      <th>Status</th>
    </tr>
   <% @cuts.each do |cut| %>
    <tr>
      <td><%= cut.roll_no %></td>
      <td class="center"><%= cut.name %></td>
      <td class="center"><%= cut.from %></td>
      <td class="center"><%= cut.to %></td>
      <td class="center"><%= cut.status %></td>
      <td class="action">
      <%= link_to("Update", update_mess_cut_manager_path(cut.id)) %>
      </td>

    </tr>
    <% end %>
  </table>
