<%= csrf_meta_tags %>

<% if @error == 1 %>
  <%="Oops something went wrong"%>
<% end %>
<%=form_for @logincred, url: {action: "login"} do |f| %>
<table summary="Subject form fields">
  <tr>
    <th style="text-align: left">Admin</th>
    <td><%= f.text_field(:admin) %></td>
  </tr>
  <tr>
    <th style="text-align: left">Password</th>
    <td><%= f.text_field(:password) %></td>
  </tr>
</table>
      <%= f.submit("Login") %>
<% end %>
