<h1>Manager#update_menu</h1>
<h2>Update Subject</h2>



<%=form_for @menu, url: {action: "update_menu"} do |f| %>
<table summary="Subject form fields">
  <tr>
    <th>Day</th>
    <td><%= f.text_field(:day) %></td>
  </tr>
  <tr>
    <th>Meal 1</th>
    <td><%= f.text_field(:meal1) %></td>
  </tr>
  <tr>
    <th>Meal 2</th>
    <td><%= f.text_field(:meal2) %></td>
  </tr>
  <tr>
    <th>Meal 3</th>
    <td><%= f.text_field(:meal3) %></td>
  </tr>
</table>
    <%= f.submit("Update") %>


<% end %>
