<h1>Welcome <%= session[:roll_no] %></h1>
<%= link_to("View menu", student_view_menu_path) %>
<br>
<%= link_to("Apply for mess cut", student_apply_mess_cut_path ) %>
<br>
<%= link_to("View bill", student_view_bill_path ) %>
<br>
<%= link_to("Pay bill",student_pay_bill_path ) %>
<br>
<%= link_to("Purchase history", student_purchase_history_path ) %>
<br>
<%= link_to("Change password", student_change_password_path ) %>
<br>
<%= link_to("Feedback", student_feedback_path) %>
<br>
<%= link_to("logout", student_logout_path) %>
<br>