

<h1>Student view Feedback</h1>

<%=form_for @feedback, url: {action: "feedback"} do |f| %>
<table summary="Subject form fields">
  <tr>
    <th style="text-align: left;">s_id</th>
    <td><%= f.text_field(:s_id) %></td>
  </tr>
  <tr>
    <th style="text-align: left;">name</th>
    <td><%= f.text_field(:name) %></td>
  </tr>
  <tr>
    <th style="text-align: left;">feedback</th>
    <td><%= f.text_field(:feedback) %></td>
  </tr>
</table>
      <%= f.submit("Add Student") %>
<% end %>
